
body {
    margin-top: 0px;
}

header{
    background: url(img/banner.jpg);
}
header img{
    width: 100px;
}
header h2{
    color: white;
}
.news{
    display: flex;
    justify-content: space-evenly;
    flex-flow: row;
    flex-wrap: wrap;
    background-color: aqua;
}
.news-data{
    border-radius: 20px;
    border: 2px solid black;
    background-color: gray;
    margin-bottom: 2%;
    margin-top: 2%;
    padding: 2%;
    width: 40%;
    align-content: space-around;
}
.news-image img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 200px;
    height: 120px;
}

.container {
    width: 1200px;
    background-color: rgb(181, 223, 223);
    height: auto;
    -ms-flex-item-align: center;
    align-self: center;
    margin: 0px auto;
    padding: 0 auto;
}

.flex-container{
    display: flex;
    flex-flow: row;
    justify-content: space-around;
    align-items: center;

height: 200px;
}
.Integrantes{
    background-color: rgb(51,122,183);
    display:flex;
    justify-content: space-evenly;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 2% 0% 2% 0%;
    
    
}

.Integrante{
    width: 20%; 
    margin-left: 10px;
    margin-right: 10px;
    background-color: antiquewhite; 
    text-align: center;
    padding-left: 2%;
    padding-right: 2%;
    box-shadow: 10px 5px 5px black;
    
    
}
.Integrante:hover{
    scale: 1.1;

}
.Integrante__titulo{
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: darkslategray;
}

.Integrante__parrafo{
    text-align:center ;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: teal;
}
.Integrante__img{
    padding: 5%;
   
}

.section-1 {
    width: 100%;
    
    display: flex;
    justify-content: space-around;
    background-color: rgb(21, 37, 107);
    padding: 2%;
    align-items: center;
    /* margin: 2%; */
    /*
    margin-top: 10vh;
    */
}

.services-card {
    width: 25%;
    /* height: 100%; */
    background-color: #ffffff;
    justify-content: center;
    border-radius: 25px;
    box-shadow: 0px 20px 20px 10px rgba(0, 0, 0, 0.2);
    padding: 1%;

    transition: 0.5s ease;
    cursor: pointer;
}

.services-card:hover{
    transform: scale(1.06);
    box-shadow: 0px 20px 20px 10px rgba(0, 0, 0, 0.4);

}

.services-card img{
    width: 75%;
    padding:30px;
    /*height: 50%;*/
    justify-self: center;
    display: block;
    margin: auto;
    
}

.services-card .services-image{
    width: 100%;
    border-radius: 23px 23px 130px 130px;
    background-color: #25a3f7
}


.services-card .services-card-title {
    width: 80%;
    height: auto;
    margin: auto;
    font-size: 3rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    color: #0c0629;
}

.services-card .services-card-description {
    width: 80%;
    height: auto;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    font-size: 2.5rem;
    margin: auto;
    color: #0d2e53;

}

.services-card .services-card-link {
    width: 80%;
    height: auto;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    font-size: 2rem;
    margin: auto;
    color: #0d2e53;

}
header a{
    color: white;
}
.flex-container{
    display: flex;
    flex-flow: row;
    justify-content: space-evenly;
    align-items: center;
    height: 200px;
    
}
